@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: #61472C;
}
body{
    background: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    
}
#telefone{
    position: absolute;
    top: 47vh;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 617px;
    width: 311px;
    background:url(../imagens/frame-iphone.png);
    
}
#tela{
    position: absolute;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 267px;
    
    
}
#botoes img{
    height: 50px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
    box-sizing: border-box;
    
}  
#botoes{
    text-align: right;
}  

#botoes img:hover{
    border:2px solid rgba(255, 255, 255, 0.452) ;
    transform: translate(0px, -3px);
}
div{
    width: 370px; 
    position: absolute;
    top:95vh;
    left:50%;
    transform: translate(-50%, -50%);

}